###############################################################################
###############################################################################
#
# CONTACTS
#
###############################################################################
###############################################################################

{{ icinga_contacts }}

###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################

{{ icinga_contactgroups }}
